<!-- 
<footer class="fot text-center fw-bolder bottom-0 position-fixed w-100 p-4 text-muted fs-5 z-3">
    <P>Copy Right @ Mohamed El Gabry</P>
</footer> -->
<footer>
    <div class=" w-100  bottom-0">
        <div id="footer">
            <div class="container pt-3">
                <h2>Get The FreshCart App</h2>
                <p>We Will Send You a Link,open it on Your Phone</p>
                <div class="inputEmai w-100 border-bottom py-4">
                    <input type="email" placeholder="Email" class="w-75" id="input">
                    <button class="btn2 ms-2">Share App Link</button>
                </div>
                <P class="text-center mb-0 py-3">© 2024 Mohamed EL Gabry, All Rights Reserved</P>
            </div>
        </div>
        </div>
</footer>
