<section>
    <div class="container my-5  mt-5 pt-5 ">
        <h1 class="text-main">Reset Form</h1> 
       <form [formGroup]="resetForm" (ngSubmit)="resetSubmit(resetForm)">
        <div class="row gy-4">
            <div class="col-md-8 m-auto bg-light shadow p-5 my-4">
          
                <div class="col-md-12">
                    <label class="fw-bold" for="user_email">Email</label>
                    <input formControlName="email" type="email" id="user_email" class="form-control">
                    <div *ngIf="resetForm.get('email')?.errors && resetForm.get('email')?.touched">
                        <p class="text-danger " *ngIf="resetForm.get('email')?.getError('required')">Email is required</p>
                        <p class="text-danger" *ngIf="resetForm.get('email')?.getError('email')">Enter a valid email</p>    
    
                      </div>
                  </div>

                  <div class="col-md-12">
                    <label class="fw-bold" for="user_password">Password</label>
                    <input formControlName="newPassword" type="password" id="user_password" class="form-control">
                    <div *ngIf="resetForm.get('newPassword')?.errors && resetForm.get('newPassword')?.touched">
                        <p class="text-danger " *ngIf="resetForm.get('newPassword')?.getError('required')">password is required</p>
                        <p class="text-danger" *ngIf="resetForm.get('newPassword')?.getError('pattern')">Enter a valid password</p>
    
    
                      </div>
                  </div>

                  <div>
                    <p *ngIf="errors" class="text-danger">{{errors}}</p>

                    <button [disabled]="resetForm.invalid" class=" btn bg-main text-light float-end my-3" type="submit">Reset Password
                        <span *ngIf="isLoading"><i class="fa-solid fa-spinner fa-spin" ></i></span>
                        </button>
                  </div>
                 
  
            </div>
           </div>
       </form>
      
           </div> 
</section>