<div class="container forgetpassword mt-5 pt-5">
    <form [formGroup]="forgetPassword" (ngSubmit)="sendCode(forgetPassword)">
        <div class="row my-5">
            <div class="col-md-8 m-auto">
                <div class="layer bg-light shadow p-5 mt-5">
                    <label>Email</label>
                    <input formControlName="email" type="email" class="form-control"/>
                    <p class="text-main">{{msgsuccess}}</p>
                    <button class="btn bg-main text-light my-2">Send code</button>
                </div>
            </div>
            
        </div>
    </form>
</div> 


<div class="container verifyCode d-none mt-5 pt-5">
    <form [formGroup]="verifyCode" (ngSubmit)="verifyResetCode(verifyCode)">
        <div class="row my-5">
            <div class="col-md-8 m-auto">
                <div class="layer bg-light shadow p-5 mt-5">
                    <label>code</label>
                    <input formControlName="resetCode" type="text" class="form-control"/>
                    <p class="text-main">{{msgSu}}</p>
                    <button class="btn bg-main text-light my-2">Send</button>
                </div>
            </div>
            
        </div>
    </form>
</div>
