.product{
    transition: all .5s;
    position: relative !important;

  }
  .product #icinWis{
    display: flex !important;
    top: 0;
    background-color: #00000015;
    border-radius: 50%;
    padding: 8px;
    right: -80px;
    position: absolute !important;
    opacity: 1 !important;
    transition: transform 1s, opacity 1s, right 1s, background-color 1s !important;
    transform: translateY(110%) !important;
  }
  .product:hover #icinWis{
    opacity: 1 !important;
    right: 10px;
    transform: translateY(110%) !important;
  }


  .wishlist-icon i{
    color: #999 !important;
    cursor: pointer !important; 
  }
  
  .wishlist-icon.in-wishlist i{ 
    color: red !important;
    right: 10px !important;
    cursor: pointer !important; 
} 